@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

body{
    font-family: 'Comfortaa', sans-serif;
    user-select: none;
    background-image: url('bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.wrapper{
    padding: 5vmin;
    width: 150vmin;
    margin: 0 auto;
}
.logo{
    display: block;
    width: 100vmin;
    margin: 0 auto;
    margin-bottom: 5vmin;
}
.box{
    position: relative;
    width: 22vmin;
    height: 11vmin;
    color: #414141;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5vmin;
    cursor: pointer;
    overflow: hidden;
}
.box:active{
    transition: all 0.2s ease;
    transform: scale(0.95);
}
.op{
    animation: op 5s;
}
@keyframes op{
    0%{
        transform: rotate(0);
        font-size: 0;
        color: transparent;
        text-shadow: 0 0 1.5vmin rgba(0,0,0,1);
    }
    100%{
        transform: rotate(18000deg);
        font-size: 2.5vmin;
        color: transparent;
        text-shadow: 0 0 1.5vmin rgba(0,0,0,1);
    }
}
#boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    background-image: url('boxes.png');
    background-size: cover;
    background-position: center;
    width: 140vmin;
    height: 70vmin;
    padding: 5vmin 10vmin;
    align-items: center;
}
#prizes{

}
textarea{
    width: 140vmin;
    height: 50vmin;
    background-color: #00000051;
    border-radius: 2vmin;
    --opacity: 0.4;
    -webkit-box-shadow: 0px 0px 1vmin 0px rgba(0, 0, 0, var(--opacity));
    -moz-box-shadow: 0px 0px 1vmin 0px rgba(0, 0, 0, var(--opacity));
    box-shadow: 0px 0px 1vmin 0px rgba(0, 0, 0, var(--opacity));
    padding: 1vmin;
    font-size: 2vmin;
    margin-bottom: 5vmin;
}
.btns{
    display: flex;
    align-items: center;
    column-gap: 50vmin;
    justify-content: center;
}
.shuffleBtn{
    text-transform: uppercase;
    width: 30vmin;
    font-size: 3vmin;
    height: 10vmin;
    display: flex;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    border-radius: 50vmin;
    color: #fff;
    background-color: #242424;
    --opacity: 1;
    -webkit-box-shadow: 0px 0px 1vmin 0.3vmin rgba(0, 0, 0, var(--opacity));
    -moz-box-shadow: 0px 0px 1vmin 0.3vmin rgba(0, 0, 0, var(--opacity));
    box-shadow: 0px 0px 1vmin 0.3vmin rgba(0, 0, 0, var(--opacity));
    transition: all 0.2s ease;
}
.openAllBtn{
    font-weight: 700;
    text-transform: uppercase;
    width: 20vmin;
    padding: 2vmin;
    color: #fff;
    font-size: 2.5vmin;
    height: 20vmin;
    display: inline-block;
    background-image: url('openAll.png');
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.2s ease;
}
.shuffleBtn:active{
    transform: scale(0.95);
}
.openAllBtn:active{
    transform: scale(0.95);
}
.hide-show{
    width: 7.5vmin;
    height: 7.5vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3vmin 0 3vmin auto;
    transition: all 0.2s ease;
}
.hide-show:active{
    transform: scale(0.95);
}
.eye{
}

.none{
    display: none;
}
.box-bg-hide{
    background-image: url('box-bg-hide.svg');
}
.box-bg-show{
    background-image: url('box-bg-show.svg');
}
.box-bg-show,
.box-bg-hide{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
